@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

@keyframes galaxyAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes card {
    0% {
        background-size: 400% 400%;
        background-position: 0% 0%;
    }
    50% {
        background-size: 800% 800%;
        background-position: 100% 100%;
    }
    100% {
        background-size: 400% 400%;
        background-position: 0% 0%;
    }
}

.galaxy-background {
    background: radial-gradient(circle, #000000, #05151c, #264653);
    background-size: 200% 200%;
    animation: galaxyAnimation 15s infinite;
}

.galaxy-card-dark {
    background: radial-gradient(circle, #000000, #0e1d24);
    animation: card 15s infinite;
}

.galaxy-card-light {
    background: radial-gradient(circle, #ffffff, #ffffff);
    background-size: 200% 200%;
    animation: card 15s infinite;
}

.white-background {
    background: radial-gradient(circle, #ffffff, #ffffff, #fbfeff);
    background-size: 200% 200%;
    animation: galaxyAnimation 15s infinite;
}

@media (min-height: 768px) and (min-width: 1024px) {
    .noMinHeight {
        min-height: auto !important;
    }
}
